
.calbody{
	display:grid;
	grid-template-columns: 80px 80px 80px 80px;
	grid-template-rows: 80px 80px 80px 80px 80px;
	margin: 0 auto;
	width: 320px;	
	/*margin-right: 20px;*/
}

.calbody button{
	font-size:40px; 
}
#dividbutton, #xbutton, #plusbutton, #equalbutton, #minusbutton{
	background-color: orange;
}
#display{
	background-color: #AB682A;
	width:320px;
	height:100px;
	margin:0 auto;
	margin-top: 50px;
	text-align: right;
	font-size: 40px;
}
#num0{
	grid-column-start:1;
	grid-column-end: 3;
	grid-row-start:5;
	grid-row-end: 6;
}